* {
  font-family: "Roboto";
  font-size: 18px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0;
}

#container {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(2, 1fr) 3fr repeat(3, 1fr);
  justify-items: center;
  height: 70vh;
}

#container h2 {
  font-size: 2rem;
}

#container p {
  margin-top: 15px;
  font-size: 1.2rem;
}

#score {
  font-size: 1.2rem;
}

#score p {
  margin-top: 10;
}

#buttons-group {
  display: inline-block;
}

.button {
  display: inline-block;
  padding: 10px;
  margin: 10px 15px 0 15px;
  border-radius: 50%;
  border: 4px solid #17A2B8;
  transition: all 0.3s ease;
}

.button:hover, .button:focus {
  cursor: pointer;
  background: #17A2B8;
  border: 4px solid black;
  transition: background 0.5s ease;
}

.lose {
  color: #DF0101;
}

.win {
  color: #04B404;
}

.tie {
  color: #464647;
}

#result {
  font-weight: bold;
  font-size: 1.5rem;
}

@media (max-width: 480px) {
  p {
    font-size: 2.5rem;
    text-align: center;
  }

  #container {
    height: 98vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h2 {
    text-align: center;
    margin-bottom: 10px;
  }

  #buttons {
    margin: 10px 0;
    display: flex;
    justify-content: space-around;
  }

  .button {
    width: 80%;
    height: 80%;
  }

  .button img {
    width: 100%;
    height: 100%;
  }
}